
  div.sk_medium_publication_feed_grid-content{
    background-color: rgb(255, 255, 255) !important;
    box-shadow: none !important;
   overflow: hidden !important;
   
    /* height: 100% !important; */
  
}
img.sk-post-image{
width: 100% !important;
height: 60% !important ;
object-fit: cover !important;
}
div.medium_publication_post_title{
    font-family: 'DM Sans' !important;
    text-transform: uppercase !important;
    padding-top: 20px !important;
    font-weight: 500 !important;
    font-size: 18px !important;
}
a.sk_creator_link{
    color: #565656 !important;
}
div.medium_publication_post_creator{
    font-family: 'DM Sans' !important;
    text-transform: uppercase !important;
    color: #565656 !important;
}
h2{
    font-size: 30px !important;
    text-transform: uppercase !important;
    font-family: 'DM Sans' !important;
    padding: 5% 0%;
    text-align: center  ;
}
p{
    font-family: 'DM Sans' !important;
    font-size: 18px !important;
    padding: 5px 20px !important;
}
.sk_medium_publication_feed_white_pop_up {
    position: relative !important;
    background: rgb(255, 255, 255) !important;
    padding: 2px !important;
    width: auto !important;
    max-width: 75% !important;
    margin: 50px auto 20px !important;
    border-radius: 8px !important;
}

.sk-read-more-btn{
    display: none !important;
}
@media screen and (max-width:768px){
    .sk_medium_publication_feed_white_pop_up {
        position: relative !important;
        background: rgb(255, 255, 255) !important;
        padding: 2px !important;
        width: auto !important;
        max-width: 100% !important;
        margin: 50px auto 20px !important;
        border-radius: 8px !important;
    }
}